body {
    background-color: #0C100D;
}

/* Text styles */
*, a {
    color: #9BA7B1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #9BA7B1;
    margin: 20px;
}

a img:hover {
    opacity: 0.3;
}

a:hover {
    text-decoration: line-through;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24);
  }

/* Hero styles */
.heroImg {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Work cards styles */
#featuredCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#featuredImage {
    height: calc(100vh - 400px);
    background-image: url(../images/rocknation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.myWork {
    display: flex;
    justify-content: center;
}

.card {
    margin: 10px;
}

.standardCard {
    max-width: 350px;
}

/* Skills and contact styles */
#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
}

form {
    margin-bottom: 30px;
}

#socials {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 30px 0px;
    width: 70%;
  }

/* Footer styles */
footer {
    background-color: #2B3035;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }