body {
    background-color: #0C100D;
}

* {
    color: #9BA7B1;
}

h2 {
    text-align: center;
    color: #9BA7B1;
}

.heroImg {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#featuredCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myWork {
    display: flex;
    justify-content: center;

}

.card {
    margin: 10px;
}

#skills {
    display: flex;
    justify-content: center;

}
